HOMOLOGACAO=*****
POSTGRES_HOST=*****
POSTGRES_DB=******
POSTGRES_USER=******
POSTGRES_PASS=*****************************************************************
POSTGRES_PORT=***************

EMAIL_API=******************

USER_ROOT=*****************
ROOT_PASS=*********************************

COLEGIOS_APP=https://totem-org-colegios.vercel.app
VESTIBULARES_APP=https://totem-org-vestibulares.vercel.app