API_BASE_PATH=

# POSTGRES CONNECTION

POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_PORT=

#SMTP AMAZON SES

IP=
SMTPEndpoint=
Port=
Username=
UsernameBase64=
Password=
PasswordBase64=

USER_ROOT=
ROOT_PASS=

NODE_ENV=desenv

MAIN_PORT=8001
MAIN_URL=http://principal:8001

COLEGIOS_PORT=8002
COLEGIOS_URL=http://colegios:8002

VESTIBULARES_PORT=8003
VESTIBULARES_URL=http://vestibulares:8003

JWT_SECRET=