MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
NODE_PRODUCTION=false
MONGO_URL=mongodb://USUARIO:SENHA@localhost:27017/test_database?authSource=admin
PORT=9000
HOST=0.0.0.0
NODE_ENV=development
ADMIN_PASSWORD=minha-senha-segura