# Ambiente
NODE_ENV=development

# Servidor
PORT=9000

# Administrador
ADMIN_EMAIL=projetos@compactjr.com

# CORS
CORS_ORIGINS=http://localhost:8000,http://localhost:8001,http://localhost:8002

# Swagger
ENABLE_SWAGGER=true



#PROD
DATABASE_URL=""
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=totem

#DEV
SUPABASE_URL=""
SUPABASE_SECRET_KEY=""