NUXT_API_BASE_PATH=

# SMTP AMAZON SES

NUXT_IP=
NUXT_SMTPEndpoint=
NUXT_Port=
NUXT_Username=
NUXT_UsernameBase64=
NUXT_Password=
NUXT_PasswordBase64=

NUXT_NODE_ENV=desenv

NUXT_PUBLIC_MAIN_URL=http://principal:8001
NUXT_COLEGIOS_URL=http://colegios:8002
NUXT_VESTIBULARES_URL=http://vestibulares:8003